.bg_eb3b3b{
	background-color: #eb3b3b;
}

.zhuanpan__hd img{
	width: 213px;
	height:auto;
	margin:0 auto;
}
.zhuanpan,
.zhuanpanBox{
	width: 313px;
	height: 315px;
	margin:0 auto;
	position: relative;
}

.img_zhuanpan{
	width: 100%;
	height: 100%;
}
.zhuanpan .btn_star{
	width: 100px;
	position: absolute;
	top:48%;
	transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	z-index: 3;
	left:0;
	right:0;
	margin:0 auto;
}
.img_titleBox img{
	width:200px;
	height:auto;
	margin:0 auto;
}
.section_content {
	background: #ffe5b0;
	font-size: 16px;
	color:#d1252c;
	border-radius: 10px;
	padding:40px;
	margin:15px 22px;
}
.section_content .wenList li{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.6;
	margin-top:8px;
}
.section_content .wenList .right{
	max-width: 60%;
	text-align: right;
	color:#5b1e09;
	float: right;
	font-size: 15px;
}
