/**
 * @author:冬冬
 * @time:2018-9-20
 * @block:通用
 * @tips:单位是用rem，以375为参照，100px=100px;
 * **/

.bg_f8f8f8 {
    background-color: #F8F8F8;
}

.bg_ffeec9 {
    background-color: #ffeec9;
}

.color_e40000 {
    color: #e40000 !important;
}

body, html {
    height: 100%;
    position: relative;
}

.fixed {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flexRowWrap {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
}

.flexRowNowrap {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

.flexInherit {
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
    flex: inherit;
}

.flexAlignCenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flexAlignEnd {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flexAlignStart {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
}

.flexAlignBaseline {
    align-items: baseline;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
}

.justifyBetween {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
}

.border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*//2行溢出*/

.text-line2 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


/*//3行溢出*/

.text-line3 {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.weui-input {
    font-size: 15px;
    line-height: 1.6;
    width: 100%;
    display: block;
}

.text_l {
    text-align: left;
}

.text_r {
    text-align: right;
}

.center {
    text-align: center;
}

.circleNum {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    font-size: 10px;
    color: #fff;
    background-color: #ff682d;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.swiperImgBox img {
    width: 100%;
}

.layui-suremMsg {
    font-size: 16px;
    color: #262626;
}

.noConPage {
    color: #b1b1b1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
}

.noConPage .noCon {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.noConPage .iconImg {
    margin-bottom: 15px;
}

.noConPage .iconImg img {
    width: 70px;
    margin: 0 auto;
}

.conPage {
    overflow: hidden;
}

.hasConPage {
    overflow: hidden;
    overflow-y: auto;
}

.dd_navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    padding: 5px 0;
}

.dd_navList li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    color: #606060;
}

.dd_navList li .outside {
    display: block;
    padding: 8px 5px;
    color: #606060;
}

.dd_navList li .icon-img {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
}

.dd_navList li .icon-img img {
    width: 26px;
    height: 26px;
}

.dd_navList li .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dd_navList.block__navList {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
}

.dd_navList.block__navList li {
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
    flex: inherit;
}

.dd_tabList {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    text-align: center;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
    top: 45px;
}

.dd_tabList li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
}

.dd_tabList li a {
    display: inline-block;
    margin: 0 8px;
    padding: 0 2px;
}

.dd_tabList li a span {
    padding: 0 5px;
    display: inline-block;
    position: relative;
}

.dd_tabList li a span:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.dd_tabList li.active a {
    color: #5c91f1;
}

.dd_tabList li.active a span:after {
    background: #5c91f1;
}

.icon-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
}

.icon-arrow:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
}

.icon-arrow.icon-arrowRight:before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    top: 3px;
    right: 6px;
}

.icon-sj {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    position: relative;
}

.icon-sj:before {
    position: absolute;
    content: "";
    left: 0;
    margin: 0 auto;
    width: 0;
    border: 6px solid #999;
}

.icon-sj.icon-sjDown:before {
    border-color: #999 transparent transparent;
    top: 3px;
}

.weui-cells {
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    color: #333;
    font-size: 15px;
}

.weui-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 12px;
    position: relative;
    background-color: #fff;
}

.weui-cell:before {
    content: " ";
    position: absolute;
    left: 12px;
    right: 12px;
    top: 0;
    height: 1px;
    border-top: 1px solid #f1f1f1;
    color: #e5e5e5;
    z-index: 2;
}

.weui-cell:first-child:before {
    display: none;
}

.weui-cell__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

.weui-btn {
    display: block;
    line-height: 43px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.weui-btn.weui-btn-active {
    background-color: #5c91f0;
    color: #fff;
    border-color: #5c91f0;
}

.dd_msgBox {
    color: #606060;
    font-size: 13px;
    margin-bottom: 15px;
}

.dd_column li {
    font-size: 14px;
    color: #606060;
    line-height: 1.4;
}

.dd_column li .outside {
    background-color: #fff;
    color: #606060;
}

.dd_column li .pictrue {
    padding-top: 100%;
    position: relative;
}

.dd_column li .pictrue img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.dd_column li .txtBox .title {
    color: #222;
    margin-bottom: 3px;
}

.dd_column li .txtBox .priceArea {
    color: #fe5d1f;
    font-size: 15px;
    margin-bottom: 3px;
}

.dd_column.level__dd_column li {
    position: relative;
}

.dd_column.level__dd_column li:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 12px;
    height: 1px;
    background-color: #F1F1F1;
    right: 0;
}

.dd_column.level__dd_column li:last-of-type:before {
    display: none;
}

.dd_column.level__dd_column li .outside {
    padding: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.dd_column.level__dd_column li .pictrueAll {
    width: 25%;
    margin-right: 10px;
}

.dd_column.level__dd_column li .txtBox {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

.dd_orderList .title {
    height: 25px;
    line-height: 25px;
}

.dd_orderList .title .plat_logo {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 8px;
}


/**********遮罩层******/

.shade {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}

.shade .shade__content {
    position: relative;
    width: 100%;
    height: 100%;
}

.shade .shade-item {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 80%;
    overflow: hidden;
    display: none;
}

.shade .shade-item.centerShadeItem {
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.shade .shade__hd {
    line-height: 45px;
    height: 45px;
    background-color: #5c91f1;
    color: #fff;
    text-align: center;
    position: relative;
}

.shade .shade__hd .shade__title {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

.shade .alignCenter__shade__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
}

.shade .btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(/static/image/icons/close.png) center no-repeat;
    background-size: 14px 14px;
    top: 50%;
    margin-top: -12px;
}

.shade .agreement__shadeItem {
    width: 310px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    max-height: 480px;
    transform: translate(0, -50%);
}

.shade .agreement__shadeItem .shade__hd .btn-close {
    right: 10px;
}

.shade .agreement__shadeItem .shade__bd {
    padding: 15px;
    overflow: hidden;
    max-height: 435px;
}

.shade .agreement__shadeItem .agreementCon {
    overflow-y: auto;
    max-height: 405px;
}

.shade .shade__ft .dd_Btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 7px;
}

.shade .shade__ft .dd_Btns .weui-btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    margin: 5px 10px;
    line-height: 35px;
}


/*****登录注册页面************/

.allScreenPage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-width: 750px;
    margin: 0 auto;
    z-index: 15;
}

.regLogForm {
    padding: 15px 12px;
}

.regLogForm .weui-cells {
    background-color: transparent;
}

.regLogForm .weui-cells .weui-cell {
    padding: 0;
    height: 40px;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
}

.regLogForm .weui-cells .weui-cell:before {
    display: none;
}

.regLogForm .weui-cells .weui-cell .weui-cell__hd {
    width: 40px;
}

.regLogForm .weui-cells .weui-cell .iconImg {
    height: 22px;
    width: 22px;
    margin: 0 auto;
}

.regLogForm .weui-cells .weui-cell .weui-input {
    padding-right: 15px;
}

.regLogForm .weui-cells .weui-cell .imgBox {
    width: 58px;
    margin-right: 8px;
}

.regLogForm .weui-cells .weui-cell .imgBox img {
    height: 24px;
    max-width: 100%;
}

.regLogForm .sendCode {
    height: 40px;
    line-height: 40px;
    width: 85px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #6ccf8d;
}

.regLogForm .agreement__register {
    color: #222222;
    font-size: 13px;
    padding: 5px 0;
}

.regLogForm .agreement__register .IconsCK {
    margin-right: 10px;
}

.regLogForm .agreement__register .IconsCK span {
    background: url(/static/image/icons/agreement_1.png) center no-repeat;
    background-size: 100% 100%;
}

.regLogForm .agreement__register .IconsCK input[type=checkbox]:checked+span {
    background: url(/static/image/icons/agreement_1_2.png) center no-repeat;
    background-size: 100% 100%;
}

.regLogForm .btn-register {
    margin-top: 30px;
    margin-bottom: 15px;
}

.regLogForm .btn-login {
    margin-top: 30px;
    margin-bottom: 15px;
}

.regLogForm .hasAccountMag {
    color: #222222;
    font-size: 15px;
    text-align: center;
}

.regLogForm .hasAccountMag .a {
    color: #eb0101;
    margin: 0 10px;
}

.regLogForm .shiftPwd {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
}

.regLogForm .shiftPwd.hidePwd {
    background: url(/static/image/icons/hidepwd.png) center no-repeat;
    background-size: 18px 18px;
}

.regLogForm .shiftPwd.showPwd {
    background: url(/static/image/icons/showpwd.png) center no-repeat;
    background-size: 18px 18px;
}

.regLogForm.noIcons__regLogForm .weui-input {
    padding-left: 12px;
}

.regLogForm.resetTel__regLogForm .weui-cell__hd {
    width: 85px !important;
    color: #5c91f1;
    padding-left: 12px;
}

.regLogForm.onlyIpt__form .weui-input {
    padding-left: 12px;
}

.regLogForm.onlyIpt__form .select__weui-cell {
    position: relative;
}

.regLogForm.onlyIpt__form .select__weui-cell .icon-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -8px;
}


/*********会员中心******/

.avatarInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
}

.avatarInfo .avatar {
    width: 58px;
    height: 58px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.avatarInfo .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatarInfo .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

.avatarInfo .info p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.avatarInfo .btn_lookRule {
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
}

.memberTop {
    padding: 50px 12px;
    height: 300px;
    background: url(/static/image/of/top_bgc.png) center no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 13px;
    line-height: 1.4;
}

.memberTop .myPrice p {
    color: #fff;
}

.myMessages {
    position: relative;
}

.touxiang {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.touxiang img {
    width: 100%;
    height: 100%;
    border-radius: .300px;
}

.btn_vs {
    position: absolute;
    top: 18px;
    right: 0;
    color: #fff;
    text-decoration: underline;
}

.mySome {
    text-align: center;
    margin-top: 10px;
    height: .300px;
}

.mySomes {
    display: inline-block;
    float: left;
    width: 29%;
}

.myUsername {
    display: inline-block;
    float: left;
    width: 42%;
}

.myPrice {
    height: .300px;
    margin-top: 10px;
}

.myPrice_text {
    float: left;
    margin-left: 20%;
    text-align: center;
}

.memberHead .btn_back {
    width: auto !important;
    line-height: 45px;
    padding-left: 025px;
    background-position: 12px center !important;
}

.memberHead.noHeight__memberHead {
    background: transparent;
    color: #fff;
}

.memberHead.noHeight__memberHead .title {
    color: #fff;
}

.memberHead.noHeight__memberHead .btn_set {
    color: #fff;
}

.memberHead.noHeight__memberHead .btn_back {
    background: url(/static/image/icons/back_white.png) left center no-repeat;
    background-size: 10px auto;
    color: #fff;
}

.btn_set {
    position: absolute;
    top: .1300px;
    right: 10px;
    color: #000;
}

.memberIndex__section {
    margin-bottom: 10px;
}

.section__hd {
    font-size: 12px;
    line-height: 1.5;
    color: #B1B1B1;
    position: relative;
}

.section__hd:before {
    display: block !important;
    top: inherit;
    bottom: 0;
}

.section__hd .title {
    color: #222222;
    font-size: 15px;
}

.section__hd .icon-arrow {
    vertical-align: sub;
}

.priceListBox {
    margin: 0 12px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.priceListBox .priceList {
    background-color: #fff;
    padding: 12px 0;
    border-radius: 4px;
    line-height: 1.4;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.priceListBox .priceList li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #F1F1F1;
}

.priceListBox .priceList li:last-of-type {
    border-right: none;
}

.priceListBox .priceList .outside {
    display: block;
    text-align: center;
    padding: 0 5px;
    color: #606060;
}

.priceListBox .priceList .outside p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.priceListBox .priceList .outside .num {
    color: #5c93fd;
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
}

.navList__weui-cells .icon-navImg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.navList__weui-cells .title {
    color: #606060;
}

.navList__weui-cells.navList2__weui-cells .icon-navImg {
    display: inline-block;
    vertical-align: middle;
}

.btn-loginOut {
    border: none;
    color: #606060;
}

.dingdan {
    border-radius: 7px;
    margin: -50px -12px 10px -12px;
    overflow: hidden;
    box-shadow: 0 1px 2px #EEEEEE;
}

.messageMenu {
    height: 150px;
    margin: 14px 10px;
    background: #fff;
    border-radius: 7px;
}

.messageMenuLi {
    width: 25%;
    text-align: center;
    float: left;
    margin: 10px 0;
}

.messageMenuLi div {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.messageMenuLi img {
    width: 100%;
    height: 100%;
}


/******我的订单页面*******/

.orderMenu__section {
    margin: 10px 0;
}

.orderMenu__section .weui-cell:before {
    left: 12px;
    right: 0;
}

.orderMenu__section .dd_navList li .icon-img {
    width: 40px;
    height: 40px;
}

.orderMenu__section .dd_navList li .icon-img img {
    width: 40px;
    height: 40px;
}


/********订单列表页面******/

.orderList__tabListBox {
    height: 40px;
    padding-top: 10px;
    position: relative;
    z-index: 3;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
}

.orderList__tabListBox .dd_tabList {
    top: 45px;
    border-top: 10px solid #F8F8F8;
}

.tabShowBox {
    margin: 10px 0;
}


/*******账户信息页面****/

.accountNavList {
    margin: 10px 0;
}

.uploadAvatar__shadeItem {
    background-color: #fff;
    bottom: 0;
}

.uploadAvatar__shadeItem .shade__bd {
    padding: 10px 36px;
}

.uploadAvatar__shadeItem .weui-btn {
    margin: 10px 0;
}

.uploadAvatar__shadeItem .btn-selectPhoto {
    color: #5c91f1;
}


/**********等级规则页面***********/

.gradeRule {
    padding: 12px;
    color: #222222;
}

.gradeRule .gradeRule_section {
    background-color: #fff;
    border: 2px solid #e3b653;
    border-radius: 10px;
    padding: 0 0.2300px;
    margin-bottom: 10px;
}

.gradeRule .section__bd .con {
    padding: 15px 0;
}

.gradeRule .section__bd .con .title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}

.dd_gradeList {
    font-size: 15px;
}

.dd_gradeList li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: 42px;
    border-bottom: 1px dashed #d0b374;
    padding: 0 07px;
}

.dd_gradeList li .gradeNum {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background-color: #f15e1d;
    margin-right: 15px;
}

.dd_gradeList li .txtBox {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

.dd_gradeList li .txtBox .number {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dd_gradeList li:nth-of-type(2n) .gradeNum {
    background-color: #ba8d2a;
}

.dd_gradeList li:last-of-type {
    border-bottom: none;
}


/*********佣金收益页面*********/

.commisionTop {
    background-color: #fe852c;
    color: #fff;
    padding: 10px 12px;
    margin: 10px 0;
    line-height: 1.4;
}

.commisionTop .price .num {
    font-weight: bold;
    font-size: 16px;
}

.commisionTop.freeze {
    background-color: #aeaeae;
}

.selectDateCommision__weui-cell:before {
    display: none;
}

.commisionList li {
    position: relative;
    background-color: #fff;
    padding: 8px 12px;
    color: #606060;
}

.commisionList li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    height: 1px;
    right: 0;
    background-color: #F1F1F1;
}

.commisionList li .title {
    font-size: 15px;
    color: #222222;
}

.commisionList li .price {
    color: #fb7e21;
    margin-left: 15px;
}

.commisionList li .price.reducePrice {
    color: #5c91f1;
}

.commisionList li p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*******佣金提现*********/

.dd_withdraw {
    background-color: #fff;
}

.dd_withdraw .withdraw__hd {
    color: #222;
    position: relative;
    font-size: 15px;
}

.dd_withdraw .withdraw__hd:before {
    display: block;
    top: inherit;
    bottom: 0;
    right: 0;
}

.dd_withdraw .withdraw__hd .txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dd_withdraw .withdraw__hd .cardID {
    margin-left: 8px;
}

.priceMsg {
    font-size: 13px;
    color: #606060;
    margin: 10px 0;
}

.dd_Btns {
    padding: 0 12px;
}

.dd_Btns.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.dd_Btns.flex .weui-btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-right: 40px;
}

.dd_Btns.flex .weui-btn:last-of-type {
    margin-right: 0;
}

.dd_Btns.btn_tabList .weui-btn {
    line-height: 34px;
    border-radius: 100px;
}

.withdrawRecordList li {
    background-color: transparent;
}

.withdrawRecordList li:before {
    top: inherit;
    bottom: 0;
}

.dd__hd {
    padding: 8px 12px;
    background-color: transparent;
}

.dd__hd .title {
    font-size: 15px;
    color: #222;
    font-weight: normal;
}

.dd__hd .titleMsg {
    font-size: 13px;
    color: #606060;
}

.dd__hd .msgIcon {
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.txtMsg {
    font-size: 13px;
    color: #5c91f0;
}

.bind__msgBox {
    margin-bottom: 0;
}

.accountList li {
    background-color: #fff;
    margin: 10px 0;
}

.accountList li .weui-cell:before {
    right: 0;
}

.accountList li .weui-cell .weui-cell__hd {
    margin-right: 10px;
    color: #606060;
}

.accountList li .weui-cell .weui-cell__hd .icon-navImg {
    margin-right: 0;
}

.accountList li .weui-cell .weui-cell__bd .title {
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.accountList li .status {
    color: #ff682d;
    font-size: 14px;
}

.accountList.accountList2 li {
    padding-bottom: 8px;
}

.accountList.accountList2 li .weui-cells .weui-cell {
    padding-top: 2px;
    padding-bottom: 2px;
}

.accountList.accountList2 li .weui-cells .weui-cell:before {
    display: none;
}

.accountList.accountList2 li .weui-cells .weui-cell:first-of-type {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 8px;
}

.accountList.accountList2 li .weui-cells .weui-cell:first-of-type:before {
    display: block;
    top: inherit;
    bottom: 0;
}

.dd_footer .inner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
    z-index: 10;
    top: inherit;
    bottom: 0;
}

.dd_footer .inner:before {
    height: 1px;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    background-color: #e6e6e6;
}

.dd_footer .weui-btn {
    margin-top: 0;
    margin-bottom: 0;
}

.dd_footer.addAcount__footer {
    height: 45px;
}

.dd_footer.addAcount__footer .inner {
    height: 45px;
}

.dd_footer.addAcount__footer .dd_Btns {
    padding: 0;
}

.dd_footer.addAcount__footer .dd_Btns .weui-btn {
    border-color: #fff;
}

.dd_footer.addAcount__footer .dd_Btns .weui-btn .addAcountIcon {
    display: inline-block;
    background: url(/static/image/icons/addbtn.png) left center no-repeat;
    background-size: 020px 020px;
    color: #5c91f1;
    padding-left: 28px;
}

.bindSection {
    background-color: #fff;
    margin-bottom: 10px;
}

.lookExamples {
    text-decoration: underline;
}

.dd_piclist {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 07px;
}

.dd_piclist li {
    margin-bottom: 10px;
}

.dd_piclist li .outside {
    margin: 0 5px;
}

.dd_piclist li .img {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.dd_piclist li img {
    width: 100%;
}

.dd_piclist li .upimg {
    width: 100%;
    height: 100%;
    background: url(/static/image/icons/df_pic.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.dd_piclist li .upbtn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
}

.dd_piclist li p {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #606060;
}

.mayOrderTaking {
    background-color: #87aff8;
    color: #fff;
    padding: 8px 12px;
}

.bind__swiperImgBox {
    padding: 020px 12px;
}

.dd_uploadItem {
    position: relative;
}

.dd_uploadItem:before {
    content: "";
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 0;
    height: 1px;
    background-color: #F1F1F1;
}

.cityInfoBox {
    padding: 12px;
    font-size: 15px;
    color: #606060;
}

.cityInfoBox .flexCity {
    height: 40px;
    line-height: 40px;
    border: 1px solid #b2b2b2;
    background-color: #fff;
    padding: 0 12px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 5px;
}

.cityInfoBox .weui-label {
    margin-right: 15px;
    color: #b1b1b1;
}

.dd_BtnsList {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    padding: 07px;
    font-size: 14px;
}

.dd_BtnsList li {
    text-align: center;
}

.dd_BtnsList li .outside {
    border-radius: 100px;
    overflow: hidden;
    margin: 5px;
}

.dd_BtnsList li .outside .weui-btn {
    border-radius: 100px;
    line-height: 35px;
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectBuyTypeShade {
    background-color: #fff;
    width: 86%;
}

.selectBuyTypeShade .shade__bd {
    max-height: 260px;
    overflow: hidden;
    overflow-y: auto;
}

.bankListBox {
    background-color: #fff;
    margin: 10px 0;
}

.bankListBox .dd__hd {
    position: relative;
}

.bankListBox .dd__hd:before {
    content: "";
    position: absolute;
    left: 12px;
    right: 0;
    height: 1px;
    background-color: #F1F1F1;
    bottom: 0;
}

.bankList__weui-cells .weui-cell:first-of-type:before {
    display: block;
}

.bankList__weui-cells .weui-cell:before {
    top: inherit;
    bottom: 0;
    right: 0;
}

.bankList__weui-cells .icon-navImg {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}

.bankList__weui-cells .icon-gou {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/static/image/icons/gou.png) center no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}

.bankList__weui-cells .weui-cell.active .icon-gou {
    opacity: 1;
}

.joinVIP {
    background-color: #39005a;
    border-top: 10px solid #f8f8f8;
    padding: 5px 12px;
}

.joinVIP_section {
    background-color: #fff;
    color: #222222;
    padding: 0 0.2300px;
    border-radius: 10px;
    margin: 15px 0;
    line-height: 1.6;
}

.joinVIP_section .joinVIP_section__hd {
    padding: 18px 0;
    border-bottom: 1px dashed #39005a;
}

.joinVIP_section .joinVIP_section__hd .title {
    font-size: 18px;
    color: #39005a;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.joinVIP_section .joinVIP_section__bd .con {
    padding: 020px 0;
}

.joinVIP_section .joinVIP_section__bd .con .title {
    font-weight: 600;
    font-size: 15px;
}

.VIP__dd_footer {
    height: 060px;
}

.VIP__dd_footer .inner {
    height: 060px;
}

.VIP__dd_footer .dd_Btns {
    height: 060px;
}

.selectSetMeal {
    margin-top: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.selectSetMeal .selectSetMeal__hd {
    padding: 18px 0;
    position: relative;
}

.selectSetMeal .selectSetMeal__hd:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0.2300px;
    right: 0.2300px;
    height: 1px;
    border-bottom: 1px dashed #d1d1d1;
}

.selectSetMeal .selectSetMeal__hd .title {
    color: #470282;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

.selectSetMeal .setMealList {
    padding: 15px;
}

.selectSetMeal .setMealList li .outside {
    margin: 8px;
}

.selectSetMeal .setMealList li .weui-btn {
    background-color: #ffa800;
    color: #fff;
    border-color: #ffa800;
}

.selectSetMeal .setMealList li.active .weui-btn {
    background-color: #ff682d;
    border-color: #ff682d;
}

.selectSetMeal .selectSetMeal__bd {
    padding: 15px 0;
}

.selectSetMeal .selectSetMeal__ft {
    position: relative;
    padding: 0.2300px;
}

.selectSetMeal .selectSetMeal__ft:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0.2300px;
    right: 0.2300px;
    height: 1px;
    border-bottom: 1px dashed #d1d1d1;
}


/***账号完成率页面***/

.completionRate .bannertop {
    width: 100%;
}

.completionRate-box {
    margin: 10px;
}

.completionRate-box .completionRate-tit {
    padding: 5px 0;
    border-bottom: 1px solid #dadada;
}

.completionRate-box .completionRate-tit p {
    font-size: 18px;
    color: #222;
}

.completionRate-box .completionRate-p {
    font-size: 15px;
    color: #222;
    line-height: 25px;
}

.completionRate-box .completionRate-text {
    font-size: 15px;
    color: #222;
    margin: 5px 0;
}

.popup-mask-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10600;
    visibility: visible;
    transition-duration: .4s;
    display: none;
}

.popup-mask-box .pop_up_box {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10800;
    width: 80%;
    display: block;
    border-radius: 10px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    padding: 020px;
}

.popup-mask-box .modal-in {
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
}

.popup-mask-box .popup_text_div {
    display: block;
    height: auto;
    width: 100%;
}

.popup-mask-box .popup_text_div h1 {
    font-size: 020px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
}

.popup-mask-box .popup_text_div p {
    font-size: 15px;
    line-height: 025px;
}

.popup-mask-box .bind_jump {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    color: red;
    text-align: center;
}
