@charset "utf-8";

/* CSS Document */

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, u, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

ul, ul li, ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    color: #1a1a1a;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

input, select, textarea {
    border: 0;
    outline: none;
    outline: none;
    border-radius: 0;
    background: none;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    font-size: 14px;
}

input[type=submit], input[type=button], button {
    border: 0;
    outline: none;
    background: none;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type=checkbox] {
    appearance: checkbox;
    -ms-appearance: checkbox;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
}

input[type=radio] {
    appearance: radio;
    -ms-appearance: radio;
    -moz-appearance: radio;
    -webkit-appearance: radio;
}

::-webkit-input-placeholder {
    color: #b1b1b1;
}

a, input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

em, i {
    font-style: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


/*电脑版版全局样式*/

html {
    font-size: 100px;
}

body {
    font-family: "Microsoft YaHei", tahoma, arial, Hiragino Sans GB;
    height: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #303030;
    margin: 0 auto;
    word-break: break-all;
    max-width: 750px;
    background-color: #fff;
}


/*浮动、位置*/

.fl {
    float: left;
}

.fr {
    float: right !important;
}

.clear:after, .clear:before {
    content: "";
    clear: both;
    display: block;
}

.text_l {
    text-align: left !important;
}

.text_r {
    text-align: right !important;
}

.center {
    text-align: center !important;
}


/*单行溢出*/

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*2行溢出*/

.text-line2 {
    display: -webkit-box!important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

img {
    border: 0;
    display: block;
}

a.box {
    display: block;
}

.img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.icon {
    display: block;
}

.mb5 {
    margin-bottom: 5px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.pd10 {
    padding: 10px;
}

.pd12 {
    padding: 12px;
}

.w150 {
    width: 150px !important;
}


/*背景*/

.bg_gray {
    background: #f6f6f6;
}

.bg_fff {
    background: #fff;
}

.red {
    color: #ed3a3e !important;
}

.c_ccc {
    color: #ccc !important;
}

.c_999 {
    color: #999 !important;
}

.c_000 {
    color: #000 !important;
}

.c_Org {
    color: #ee7818;
}

.blue {
    color: #4581ec !important;
}

.bold {
    font-weight: bold !important;
}

.li50 li {
    width: 50%;
}

.li33 li {
    width: 33.33%;
}

.li25 li {
    width: 25%;
}

.li20 li {
    width: 20%;
}


/*头部*/

.h45 {
    width: 100%;
    height: 45px;
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    z-index: 10;
    background: #fff;
    max-width: 750px;
    margin: 0 auto;
}

.head.bb_border {
    border-bottom: 1px solid #e6e6e6;
}

.head .title {
    margin: 0 60px;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    color: #1d1d1d;
}

.head .icon_r {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    z-index: 2;
}

.head .icon_r.txt {
    color: #666;
    font-size: 13px;
    line-height: 45px;
    text-align: center;
    width: auto;
    max-width: 10px;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.head .icon_news {
    background: url(/static/image/icons/new_icon.png) center no-repeat;
    background-size: 22px auto;
}

.head .icon_news span {
    position: absolute;
    left: 0;
    top: 5px;
    display: none;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    background: #F02745;
    border-radius: 100px;
}

.head .icons_set {
    background: url(/static/image/icons/ico_set.png) center no-repeat;
    background-size: 22px auto;
}

.head .btn_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: url(/static/image/icons/back.png) center no-repeat;
    background-size: 10px auto;
    z-index: 2;
}


/*返回顶部*/

.go-top {
    display: none;
    position: fixed;
    right: 5px;
    bottom: 80px;
    z-index: 99;
}

.go-top a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: url(/static/image/icons/top.png) center center no-repeat;
    background-size: cover;
}


/*底部导航*/

.null50 {
    height: 55px;
}

footer {
    position: fixed;
    width: 100%;
    max-width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    z-index: 3;
    bottom: 0;
    border-top: 1px solid #e9e9e9;
}

.navList li {
    float: left;
    width: 20%;
    text-align: center;
}

.navList.li25 li {
    width: 25%;
}

.navList li p {
    display: block;
    font-size: 12px;
    color: #666;
    height: 55px;
    padding-top: 34px;
    text-align: center;
}

.navList li.active p {
    color: #FF662A;
}

.navList li.ft1 p {
    background: url(/static/image/footer/ft1.png) center 6px no-repeat;
    background-size: 26px auto;
}

 .navList li.ft1.active p {
    background: url(/static/image/footer/ft1_1.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft2 p {
    background: url(/static/image/footer/ft2.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft2.active p {
    background: url(/static/image/footer/ft2_1.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft4 p {
    background: url(/static/image/footer/ft3.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft4.active p{
    background: url(/static/image/footer/ft3_1.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft5 p {
    background: url(/static/image/footer/ft4.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft5.active p {
    background: url(/static/image/footer/ft4_1.png) center 6px no-repeat;
    background-size: 26px auto;
}

.navList li.ft3 p {
    display: block;
    height: 60px;
    width: 60px;
    border: 25px solid #fff;
    border-radius: 50%;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 55px;
    margin: -15px auto 0;
    padding-top: 0;
    background: url(/static/image/footer/jianbian.png) center no-repeat;
    background-size: 60px;
}

.ft_Orderbtn {
    position: fixed;
    left: 50%;
    margin-left: 27.5px;
    bottom: 27.5px;
    display: block;
    height: 60px;
    width: 60px;
    border: 25px solid #fff;
    border-radius: 50%;
    background: #5f96f9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 55px;
    z-index: 10;
}


/*底部按钮*/

.ftbtn {
    border-top: none;
    padding: 10px 12px;
}

.bt_border {
    border-top: 1px solid #e6e6e6;
}

.ftbtn .btn {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #5f96f9;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.btn_100 {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #5f96f9;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}


/*选中按钮*/

.IconsCK {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.IconsCK input[type=checkbox], .IconsCK input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.IconsCK span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/image/icons/cheak_1.png) center no-repeat;
    background-size: 100% 100%;
}

.IconsCK input[type=checkbox]:checked+span, .IconsCK input[type=radio]:checked+span {
    background: url(/static/image/icons/cheak_2.png) center no-repeat;
    background-size: 100% 100%;
}


/*开关按钮*/

.switch_btn input[type="checkbox"] {
    display: none;
}

.switch_btn input[type="checkbox"]+label {
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.switch_btn input[type="checkbox"]+label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.switch_btn .switch:checked+label {
    background: #43bd5d;
}

.switch_btn .switch:checked+label:after {
    background: #fff;
}

.switch_btn .switch+label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
}

.switch_btn .switch:checked+label:after {
    left: 20px;
    left: calc(100% - 20px);
}

.switch_btn .switch+label {
    background: #E6E6E6;
    border-radius: 100px;
    box-shadow: 1px 1px 3px #aaa;
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 150px !important;
    }
}


/*layer弹层样式*/

.layui-m-layerbtn span {
    font-size: 16px !important;
}

.layui-m-layerbtn span[yes] {
    color: #5c91f1 !important;
}

.layui-m-layerchild h3 {
    color: #fff;
    background: #5c91f1;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 16px !important;
}

.layui-m-layercont {
    padding: 20px 12px !important;
}
