/*系统消息*/
/*为空时*/
.empty{ padding-top: 150px;padding-bottom:150px;}
.empty .icon{ height: 90px; width: 90px; border-radius: 50%; margin: 0 auto 10px;}
.icon_message{ background: url(/static/image/icons/no_message.png) center center no-repeat; background-size: 100%;}
.empty p{ font-size: 15px; color: #999; text-align: center;}
/*消息列表*/
.messageList .box{ padding: 12px;}
.messageList .time { text-align: center; margin-bottom: 5px;}
.messageList .time span{ font-size: 12px; background: #ddd; color: #999; border-radius: 100px; padding: 5px 10px;}
.messageList .title{ height: 30px; line-height: 32px; font-size: 15px;}
.messageList .title span{ position: relative; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width: 90%;}
.messageList .title span .icon{ position: absolute; left: 0; top: 0; height: 9px; width: 9px; border-radius: 50%; background: #ee7818;}
.messageList .desc{ color: #666;}
.messageList .box_ft{ height: 40px; text-align: right; line-height: 40px; line-height: 40px; border-bottom: 1px solid #eee; margin-top: 10px;}
.messageList .box_ft .link_btn{display: inline-block; color: #5c91f1;}
.messageList .box_ft .arrow_r{ padding-right: 20px; position: relative;}
.messageList .box_ft .arrow_r:after{
	content: "";
	display: block;
	height: 10px;
	width: 10px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
/*消息详情*/
.messagedetail{ padding: 12px;}
.messagedetail .title{ border-bottom: 1px solid #eee; font-size: 15px; line-height: 30px; padding-bottom: 5px;}
.messagedetail .con{ color: #666; line-height: 1.6; text-align: justify;}

/*公告列表*/
.noticeList { padding: 10px 12px;}
.noticeList li{ border-bottom: 1px solid #eee;}
.noticeList li:last-child{ border-bottom: none;}
.noticeList .box{ display: block; padding: 10px 0;}
.noticeList .title{ font-size: 15px; }
.noticeList .title p{ max-width: 80%; float: left;}
.noticeList .title .icon_txt{ display: inline-block; color: #fff; background: #5f96f9; border-radius: 10px; font-size: 12px; padding:5px; margin-left: 5px;}
.noticeList .time{ font-size: 12px; color: #999;}

/*公告详情*/
.notice-hd{ margin-bottom: 10px;}
.notice-hd .box{ padding: 10px 0; border-bottom: 1px solid #eee; }
.notice-hd .title{ font-size: 15px; }
.notice-hd .title p{ max-width: 80%; float: left;}
.notice-hd .title .icon_txt{ display: inline-block; color: #fff; background: #5f96f9; border-radius: 100px; font-size: 12px; padding: 0 5px; margin-left: 5px;}
.notice-hd .desc{ color: #666;}
.notice-hd .desc .time{ font-size: 12px; color: #999; float: right;}
.noticecon{ color: #666; line-height: 1.6; text-align: justify;}
