/***********首页***********/


/*标题*/

.titleHd {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    margin: 0 12px;
    border-bottom: 1px solid #efefef;
}

.layer_tips {
    font-size: 16px;
}

.layer_img {
    margin: 0 auto;
    height: 150px;
    width: 150px;
}


/*banner*/

.banner .img {
    width: 100%;
    padding-bottom: 42.666%;
}

.banner .swiper-pagination-bullet {
    background: #999;
}

.banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #f44f0f;
}

.swiper-container, .account_info, .navIcon, .Taskday, .img img {
    border-radius: 7px;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
}


/*首页未操作订单*/

.notOperatedTask {
    padding-bottom: 12px;
}

.notOperatedTask ul li {
    width: 100%;
    padding: 12px 12px 0;
}

.notOperatedTask ul li a {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.notOperatedTask .pictrue_div {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.notOperatedTask .pictrue_div .pictrue {
    padding-top: 100%;
    position: relative;
}

.notOperatedTask .pictrue_div .pictrue img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.notOperatedTask .info_box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    width: 100%;
}

.notOperatedTask .info_box .info_left {
    width: 80%;
    float: left;
    text-align: left;
}

.notOperatedTask .info_box .info_left p {
    height: 25px;
    line-height: 25px;
}

.notOperatedTask .info_box .info_left span {
    color: #ff682d;
}

.notOperatedTask .info_box .info_right {
    float: right;
    width: 20%;
    line-height: 50px;
    color: #FF662A;
}


/*首页修改后的样式*/

.xinshou {
    height: 45px;
    border-radius: 25px;
    background-color: #FF8142;
    padding: 0 0 0 20px;
}

.xinshouDiv1 {
    width: 33%;
    float: left;
    line-height: 45px;
    /*text-align: center;*/
    background: url(/static/image/icons/jc.png) left center no-repeat;
    background-size: 22px 22px;
    padding-left: 24px;
}

.xinshouDiv2 {
    width: 33%;
    float: left;
    line-height: 45px;
    /*text-align: center;*/
    background: url(/static/image/icons/tg.png) left center no-repeat;
    background-size: 22px 22px;
    padding-left: 24px;
}

.xinshouDiv3 {
    width: 33%;
    float: left;
    line-height: 45px;
    /*text-align: center;*/
    background: url(/static/image/icons/wt.png) left center no-repeat;
    background-size: 22px 22px;
    padding-left: 24px;
}

.xinshou_img {
    display: inline-block;
    width: 22px;
    height: 22px;
}

.xinshou_img img {
    width: 100%;
    height: 100%;
}

.xinshou_text {
    color: #fff;
}


/*账户信息*/

.account_info {
    background: #fe9142;
    margin: 10px 0;
}

.account_info li {
    float: left;
    color: #fff;
    line-height: 20px;
}

.account_info .box {
    padding: 12px;
}

.account_info li .icon {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 5px;
}

.account_info li span {
    font-weight: 600;
    font-size: 15px;
}

.account_info .icon_yongj {
    background: url(/static/image/icons/yongj.png) center center no-repeat;
    background-size: 35px;
}

.account_info .icon_benj {
    background: url(/static/image/icons/benj.png) center center no-repeat;
    background-size: 33px;
}


/*任务导航*/

.navIcon {
    padding: 12px;
}

.navIcon li {
    float: left;
    text-align: center;
}

.navIcon .box {
    display: block;
}

.navIcon .icon {
    height: 40px;
    width: 40px;
    margin: 0 auto 8px;
}

.navIcon .icon img {
    width: 100%;
}

.navIcon p {
    color: #666;
    line-height: 1;
}


/*公告*/

.Announcement .labelhd {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin-left: 12px
}

.Announcement .labelhd span {	
    padding-left: 20px;
    color: #999;
    background: url(/static/image/icons/notice.png) left center no-repeat;
    background-size: 20px;
}

/* .noticeList {
    height: 40px;
    overflow: hidden;
} */

/* .noticeList li {
    height: 40px;
    line-height: 40px;
} */

/* .noticeList li .box {
    display: block;
    padding: 0 12px;
}

.noticeList li p {
    width: 70%;
    float: left;
}

.noticeList li .time {
    float: right;
    color: #606060;
    font-size: 13px;
} */

/* .notice_wechat {
    margin: 0 12px;
    border-top: 1px solid #efefef;
    height: 40px;
    line-height: 40px;
}
 */

/*新手任务*/

.newhand {
    padding: 12px;
}

.newhand ul {
    margin-right: -10px;
}

.newhand ul li {
    float: left;
    text-align: center;
}

.newhand .box {
    display: block;
    padding: 15px 10px;
    margin-right: 10px;
    color: #fff;
    border-radius: 4px;
}

.newhand .box .icon {
    height: 30px;
    width: 30px;
    margin: 0 auto 10px;
}

.newhand .icon-renw {
    background: url(/static/image/icons/renw.png) center center no-repeat;
    background-size: 30px;
}

.newhand .icon-jiangl {
    background: url(/static/image/icons/jiangl.png) center center no-repeat;
    background-size: 30px;
}

.newhand .icon-tiwen {
    background: url(/static/image/icons/tiwen.png) center center no-repeat;
    background-size: 30px;
}

.newhand .box p {
    line-height: 1;
}


/*每日任务*/

.Taskday .con {
    padding: 12px;
}

.Taskday ul {
    margin-right: -10px;
}

.Taskday .con li {
    float: left;
}

.Taskday .con a {
    display: block;
    line-height: 40px;
    padding-left: 36px;
    margin-right: 0;
}

.Taskday .con .task_qd {
    background: url(/static/image/icons/qiandao.png) left center no-repeat;
    background-size: 30px;
}

.Taskday .con .task_cj {
    background: url(/static/image/icons/chouj.png) left center no-repeat;
    background-size: 30px;
}

.Taskday .con .task_qrcode {
    background: url(/static/image/icons/erweima.png) left center no-repeat;
    background-size: 30px;
}

.Taskday .con .task_yq {
    background: url(/static/image/icons/yaoqing.png) left center no-repeat;
    background-size: 30px;
}


/*首页底部广告图*/

.ft_gg img {
    width: 100%;
}


/*推广赚金*/

.Promotion {
    padding: 12px;
}

.ul-list li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}

.ul-list li:last-child {
    border-bottom: none;
}

.ul-list li label {
    float: left;
}

.ul-list li .txt-r {
    float: right;
    max-width: 76%;
    overflow: hidden;
    color: #666;
}

.Promotion .totalbox {
    height: auto;
    padding: 10px;
}

.Promotion .totalbox .box {
    float: left;
    width: 50%;
    text-align: center;
}

.Promotion .totalbox .box span {
    display: inline-block;
    font-size: 18px;
    color: #ee7818;
}

.Promotion .totalbox .box .txt {
    border-top: 1px solid #eee;
}

.Promotion-rule {
    background: url(/static/image/of/backgroundimg1.jpg) center center no-repeat;
    background-size: cover;
    padding: 15px 20px;
}

.Promotion-rule .rulehd {
    text-align: center;
}

.Promotion-rule .rulehd span {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #5679ed;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border-radius: 6px;
}

.Promotion-rule .rulelist {
    margin-top: 15px;
    border: 6px solid rgba(255, 255, 255, .4);
    padding: 10px 10px 0;
    color: #fff;
    text-align: justify;
    line-height: 1.5;
}

.Promotion-rule .rulelist li {
    margin-bottom: 10px;
}


/*常见问题*/

.Faq-type {
    padding: 12px;
}

.Faq-type li {
    float: left;
}

.Faq-type .box {
    display: block;
    padding: 15px 10px;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
}

.Faq-type li:nth-child(1) .box, .Faq-type li:nth-child(2) .box {
    border-top: none;
}

.Faq-type li:nth-child(2n) .box {
    border-right: none;
}

.Faq-type .icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.Faq-type .icon img {
    width: 100%;
}

.Faq-type p {
    font-size: 15px;
    text-align: center;
    color: #666;
    margin-top: 10px;
    line-height: 1;
}

.Faq .online {
    padding: 0 12px;
}

.Faq .online .title {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding-left: 30px;
    background: url(/static/image/icons/kf.png) left center no-repeat;
    background-size: 20px;
    border-bottom: 1px solid #eee;
}

.Faq .online .title span {
    color: #666;
    font-size: 14px;
    margin-left: 10px;
}

.Faq .online .desc {
    padding: 10px 0;
    line-height: 1.6;
    color: #666;
}


/*问题详情*/

.searchbox {
    margin: 10px 12px;
}

.Search {
    position: relative;
    border: 1px solid #ddd;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding-right: 40px;
}

.Search .input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.Search .searchbtn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background: url(/static/image/icons/sou.png) center center no-repeat;
    background-size: 20px;
}

.Faq-detail li {
    border-bottom: 1px solid #eee;
    padding: 0 12px!important;
}

.Faq-detail li:last-child {
    border-bottom: none;
}

.Faq-detail li .title {
    font-size: 15px;
    padding: 10px 0;
}

.Faq-detail li .arrow_r {
    padding-right: 20px;
    position: relative;
}

.Faq-detail li .arrow_r:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
}

.Faq-detail li.active .arrow_r:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.dropdown-box {
    display: none;
}

.Faq-detail .dropdown-box {
    border-top: 1px solid #eee;
}

.Faq-detail .desc {
    padding: 10px 0;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}


/*签到领积分*/

.Sign-top {
    padding: 30px 20px;
    background: #7ca6f2;
}

.Sign-top .dl {
    padding-left: 50px;
    background: url(/static/image/icons/jf_icon.png) left center no-repeat;
    background-size: 35px;
    color: #fff;
    line-height: 1;
}

.Sign-top .dl p {
    margin-bottom: 5px;
}

.Sign-top .dl span {
    font-size: 18px;
    font-weight: 600;
}

.Sign .tips {
    text-align: center;
    color: #bbb;
}

.Sign-c {
    margin-top: 30px;
}

.Sign-c .Signbtn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 15px;
    color: #fff;
    text-align: center;
    background: #5d91ee;
    border: 10px solid #d6e3fb;
}

.Sign-c .Signbtn .inner {
    padding-top: 15px;
}

.Sign-c .Signbtn span {
    display: block;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

.Sign-c .Signbtn .num {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}

.Sign-c .Signbtn.active {
    background: #fff;
    color: #5d91ee;
}

.Sign-day {
    padding: 30px 12px;
}

.Sign-day .jfitem {
    position: relative;
    margin-bottom: 10px;
}

.Sign-day .jfitem, .Sign-day .dayitem {
    text-align: center;
    overflow: hidden;
}

.Sign-day .jf, .Sign-day .day {
    float: left;
    width: 14.2%;
}

.Sign-day .jf {
    position: relative;
    overflow: hidden;
}

.Sign-day .jf:first-child:before, .Sign-day .jf:last-child:after {
    display: none;
}

.Sign-day .jf:before {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: #5d91ee;
    position: absolute;
    right: 50%;
    margin-right: 20px;
    top: 17px;
    z-index: 1;
}

.Sign-day .jf:after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: #5d91ee;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 17px;
    z-index: 1;
}

.Sign-day .jf .icon {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #5d91ee;
    color: #5d91ee;
    line-height: 30px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
    background: #fff;
}

.Sign-day .jf.cur .icon {
    background: #5d91ee;
    color: #fff;
}

.Sign-day .day {
    font-size: 12px;
    color: #bbb;
}


/*积分记录*/

.pointrecord {
    padding: 12px;
}

.pointrecord li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    overflow: hidden;
}

.pointrecord li:last-child {
    border-bottom: none;
}

.pointrecord li .box-l {
    float: left;
    max-width: 70%;
}

.pointrecord li p {
    font-size: 15px;
    line-height: 20px;
}

.pointrecord li .time {
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 20px;
}

.pointrecord li .jf {
    float: right;
    line-height: 40px;
    font-size: 15px;
}

.pointrecord li .jf.more {
    color: #ee7818;
}

.pointrecord li .jf.less {
    color: #4581ec;
}


/*拉新人规则页面*/

.acti_Rule .Rulebanner img {
    max-width: 100%;
}

.acti_Rule .rulebox {
    padding: 12px;
}

.acti_Rule .ruleitem {
    border: 1px solid #e3b653;
    border-radius: 10px;
    background: #fff;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: justify;
}

.acti_Rule .ruleitem .title {
    border-bottom: 1px dashed #e3b653;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


/*我的下级列表页*/

.tab-hd {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    margin-bottom: 10px;
}

.tab-hd li {
    float: left;
    font-size: 15px;
    height: 40px;
    position: relative;
}

.tab-hd li.active {
    color: #2196f3;
}

.tab-hd li.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #2196f3;
    position: absolute;
    left: 0;
    bottom: 0;
}

.app_tg .table {
    padding: 0 12px;
    background: #fff;
}

.app_tg .table th {
    height: 35px;
    line-height: 35px;
}

.app_tg .table tr {
    border-bottom: 1px solid #eee;
}

.app_tg .table tr:last-child {
    border-bottom: none;
}

.app_tg .table td {
    text-align: center;
    line-height: 20px;
    padding: 10px 0;
}

.app_tg .table td:nth-child(2) {
    color: #ee7818;
}

.app_tg .table td:nth-child(3) {
    color: #999;
}

.not_subordinate {
    text-align: center;
    margin-top: 20%;
    padding: 50px;
    font-size: 18px;
}


/*邀请奖励排行榜*/

.bg_img {
    height: 100vh;
    background: url(/static/image/of/backgroundimg2.jpg) top center no-repeat;
    background-size: cover;
}

.Ranking {
    padding: 10px 20px;
}

.Ranking .Rankbox {
    background: #fff;
    border-radius: 8px;
    border-top: 8px solid #f89c35;
}

.Ranking .table {
    text-align: center;
}

.Ranking .Rankhd {
    height: 40px;
    line-height: 40px;
    color: #5679ed;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #fcc44b;
}

.Ranking .table th {
    height: 40px;
    line-height: 40px;
    color: #7a51ca;
    font-weight: bold;
}

.Ranking .table td {
    height: 40px;
    line-height: 40px;
    color: #f86b40;
}

.Ranking .table td.no span {
    vertical-align: middle;
    background: #f86b40;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 20px;
    border-radius: 2px;
}

.Ranking .table td.no1 span {
    background: #feba00;
}

.Ranking .table td.no2 span {
    background: #bcbfb8;
}

.Ranking .table td.no3 span {
    background: #f79b34;
}


/*赚钱秘籍*/

.makemoney_box img {
    width: 100%;
}
