/*任务 by liling****************/

.titleHd {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}


/*全部任务*/

.navIcon {
    padding: 12px;
}

.navIcon li {
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.navIcon .box {
    display: block;
}

.navIcon .icon {
    height: 40px;
    width: 40px;
    margin: 0 auto 8px;
}

.navIcon .icon img {
    width: 100%;
}

.navIcon p {
    color: #666;
    line-height: 1;
}


/*垫付/浏览任务列表*/

.tabNav {
    height: 40px;
    line-height: 40px;
    margin: 0 12px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    overflow: hidden;
}

.tabNav li {
    float: left;
    width: 50%;
    text-align: center;
    background: #fff;
    font-size: 15px;
}

.tabNav li.active {
    color: #fff;
    background: #5c91f1;
}

.df_taskList li {
    border-bottom: 1px solid #eee;
}

.df_taskList li:last-child {
    border-bottom: none;
}

.df_taskList .box {
    padding: 10px 12px;
    overflow: hidden;
}

.df_taskList .box-left {
    float: left;
    max-width: 60%;
}

.df_taskList .title {
    height: 30px;
    line-height: 30px;
    color: #ff682d;
    padding-left: 25px;
    background: url(/static/image/icons/jb_icon.png) left center no-repeat;
    background-size: 20px;
}

.df_taskList .box-left .rb {
    font-weight: 600;
    font-size: 18px;
}

.df_taskList .box-left p {
    margin-top: 5px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.df_taskList .box-right {
    float: right;
    max-width: 40%;
}

.df_taskList .btn {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #5c91f1;
    color: #fff;
    border-radius: 100px;
}

.df_taskList .box-right span {
    display: block;
    margin-top: 5px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
}


/*弹层任务信息*/

.taskinfo li {
    border-bottom: 1px solid #eee;
    height: 40px;
    line-height: 40px;
}

.taskinfo li:last-child {
    border-bottom: none;
}

.taskinfo li p {
    float: left;
    max-width: 50%;
}

.taskinfo li span {
    float: right;
    max-width: 50%;
    color: #ff682d;
}


/**任务详情**************/

.order-detail .shopId {
    height: 40px;
    line-height: 40px;
    font-size: 0;
    padding: 0 12px;
}

.order-detail .shopId span {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #666;
}

.order-detail .shopId .type {
    padding-left: 40px;
    background: url(/static/image/icons/phone.png) 10px center no-repeat;
    background-size: 20px;
    position: relative;
}

.order-detail .shopId .type:before {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    display: inline-block;
    height: 20px;
    width: 1px;
    background: #ddd;
    margin-right: 10px;
}

.order-detail .topInfo .title {
    margin: 0 12px;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    background: url(/static/image/icons/shop.png) left center no-repeat;
    background-size: 20px;
    color: #666;
}

.order-detail .topInfo .g-name {
    margin: 0 12px;
    margin-bottom: 10px;
}

.order-detail .topInfo .dl {
    padding: 0 12px;
}

.order-detail .topInfo .dl .img {
    float: left;
    height: 95px;
    width: 95px;
    background: #999;
    overflow: hidden;
}

.order-detail .topInfo .dl .presale-img {
    background: none;
    margin-top: -70px;
    width: 70px;
    height: 70px;
    index:9;
}

.order-detail .topInfo .dl .img img {
    width: 100%;
}

.order-detail .topInfo .dl .box_r {
    margin-left: 105px;
}

.order-detail .topInfo .dl .box_r p {
    line-height: 25px;
    font-size: 15px;
}

.order-detail .topInfo .dl .box_r .link_btn {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: #5c91f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 10px;
    margin-top: 10px;
}

.order-detail .StatusInfo {
    padding: 12px;
}

.order-detail .StatusInfo .titleHd .status {
    color: #ee7818;
    float: right;
}

.Btns {
    font-size: 0;
    text-align: center;
}

.Btns .btn {
    display: inline-block;
    min-width: 80px;
    margin: 10px;
    font-size: 15px;
    line-height: 1;
    border-radius: 100px;
    padding: 10px 15px;
    background: #efefef;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.Btns .btn.cur {
    background: #5c91f0;
    color: #fff;
    border-color: #5c91f0;
}

.stepInfo ul {
    padding-left: 25px;
}

.stepInfo ul li {
    border-left: 2px solid #eee;
    position: relative;
    margin: 5px 0;
}

.stepInfo ul li.active, .stepInfo ul li.end {
    border-left: 2px solid #73cd6c;
}

.stepInfo ul li:last-child {
    border-left: none;
}

.stepInfo ul li dl {
    padding-left: 30px;
    padding-bottom: 20px;
    line-height: 1.2;
}

.stepInfo ul li dl dt {
    margin-bottom: 10px;
}

.stepInfo ul li dl dd, .stepInfo ul li dl dt {
    font-size: 14px;
    color: #b1b1b1;
    padding-bottom: 5px;
}

.stepInfo ul li dl dt label {
    color: #333;
    font-size: 15px;
}

.stepInfo ul li dl dd .link_btn {
    text-decoration: underline;
}

.stepInfo ul li dl dd .fzbtn {
    float: right;
    color: #5c91f0;
}

.stepInfo .icon {
    position: absolute;
    left: -15px;
    top: 0;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    border: 2px solid #b1b1b1;
    color: #b1b1b1;
    background: #fff;
}

.stepInfo ul li.active .icon, .stepInfo ul li.end .icon {
    border-color: #73cd6c;
    color: #73cd6c;
}

.stepInfo .icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
}

.stepInfo ul li dl label {
    min-width: 80px;
    display: inline-block;
}

.stepInfo ul li dl .imglist {
    font-size: 0;
}

.stepInfo ul li dl .imglist .img {
    display: inline-block;
    margin: 5px 10px 10px 0;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background: #999;
    border: 1px solid #e6e6e6;
    background: url(/static/image/icons/df_picicon.png) center center no-repeat;
    background-size: 30px;
}

.stepInfo ul li dl .imglist .img img {
    width: 100%;
}

.stepInfo ul li dl dd .btn {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 100px;
    color: #4581ec;
    margin-left: 10px;
}

.copybtn {
    display: inline-block;
    color: #4581ec;
    margin-top: 5px;
    margin-left: 10px;
}


/*操作任务*/

.Browsetask {
    padding: 0 12px;
}

.Browsetask .itembox {
    margin-bottom: 10px;
}

.Browsetask .lines .select, .Browsetask .lines li.select_ed {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    padding-right: 30px;
    background: url(/static/image/icons/gou.png) right center no-repeat;
    background-size: 20px;
}

.Browsetask .lines ul {
    background: #eee;
    margin: 0 -12px;
    padding: 0 12px;
    border-top: 1px solid #ddd;
}

.Browsetask .lines li {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    border-bottom: 1px solid #ddd;
    padding-right: 30px;
}

.Browsetask .lines li:last-child {
    border-bottom: none;
}

.Browsetask .addbtn {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #5c91f0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 10px;
}

.Browsetask .addbtn span {
    padding-left: 25px;
    background: url(/static/image/icons/addbtn.png) left center no-repeat;
    background-size: auto 100%;
}

.Browsetask .Range .lab {
    display: inline-block;
    font-size: 14px;
}

.Browsetask .rangebox {
    position: relative;
    height: 60px;
}

.Range {
    padding: 0 15px 20px;
    text-align: right;
}


/****审核提交****************/

.checkInfo {
    padding: 12px;
}

.checkInfo .itembox, .checkInfo .Step {
    margin-bottom: 10px;
}

.checkInfo .itembox:last-child, .checkInfo .Step:last-child {
    margin-bottom: 0;
}

.ul-list li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}

.ul-list li label {
    float: left;
    color: #999;
}

.ul-list li .txt-r {
    float: right;
    max-width: 76%;
    overflow: hidden;
}

.checkInfo .ul-list .link_btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #4581ec;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.keytext {
    line-height: 20px;
    display: inline-block;
    padding: 10px 0;
}

.checkInfo .ul-list .link_btn {
    float: right;
    margin-bottom: 5px;
}

.checkInfo .ul-list .keybox {
    display: inline-block;
    width: 120px;
    text-align: right;
}

.checkInfo .txtbox p {
    margin-bottom: 5px;
    color: #666;
}

.checkInfo .Step .No {
    height: 40px;
    line-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EFEFEF;
}

.checkInfo .Step .No span {
    color: #ee7818;
    font-size: 15px;
}

.checkInfo .Step .No .link_btn {
    float: right;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #4581ec;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 10px;
}

.checkInfo .hedui {
    height: 40px;
    position: relative;
    margin: 10px 0;
}

.checkInfo .hedui .inputbox {
    width: 100%;
    padding-right: 80px;
}

.checkInfo .hedui .btn {
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background: #5c91f1;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
}

.checkInfo .input {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 10px;
}

.checkInfo .piclist {
    margin-top: 10px;
}

.Uploadimg ul {
    margin-left: -10px;
}

.Uploadimg li {
    width: 25%;
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.Uploadimg li p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.Uploadimg .img {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.Uploadimg .upimg {
    width: 100%;
    height: 100%;
    background: url(/static/image/icons/df_pic.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.Uploadimg li img {
    width: 100%;
}

.Uploadimg .upbtn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
}

.textarea_box textarea {
    padding: 10px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

.hedui2 .Btns .btn {
    border-radius: 4px;
}


/*申诉任务弹出*/

.open-typebox li {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: #5c91f1;
    padding: 0 20px;
}

.open-typebox li:last-child {
    border-bottom: none;
}

.open-typebox li.active {
    background: url(/static/image/icons/gou.png) right center no-repeat;
    background-size: 20px;
}

.layui-m-layercont .closebtn {
    display: block;
    height: 30px;
    line-height: 1;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}


/*申诉中心*/

.appealsCenter .tabnav {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    background: #fff;
    padding: 0 12px;
}

.appealsCenter .tabnav li {
    float: left;
    position: relative;
}

.appealsCenter .tabnav li.active {
    color: #5c91f1;
}

.appealsCenter .tabnav li:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.appealsCenter .tabnav li.active:after {
    background: #5c91f1;
}

.appealslist li {
    border-bottom: 1px solid #eee;
}

.appealslist li:last-child {
    border-bottom: 0;
}

.appealslist .box {
    padding: 10px 12px;
}

.appealslist .box .title {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.appealslist .box .title p {
    max-width: 70%;
    float: left;
}

.appealslist .box .title .link_btn {
    height: 30px;
    float: right;
    border: 1px solid #ddd;
    display: block;
    padding: 0 8px;
    border-radius: 100px;
    color: #4581ec;
}

.appealslist .box .info {
    color: #666;
    margin-top: 5px;
}

.appealslist .box .info .time {
    float: right;
}


/*申诉详情*/

.appealsDetail {
    padding: 20px 0;
}


/*如何获取旺旺号，链接*/

.blue-title {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background: #87aff7;
    color: #fff;
    font-size: 15px;
    padding: 0 12px;
}

.demoimg {
    padding: 0 12px 10px;
}

.demoimg img {
    width: 100%;
}

.demoimg .downico {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url(/static/image/icons/down.png) center center no-repeat;
    background-size: cover;
}


/*表单*/

.from-item.arrow_r {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    padding-right: 20px;
    position: relative;
}

.from-item label {
    font-size: 15px;
}

.from-item.arrow_r:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.from-item .txt-r {
    float: right;
}

.from_title {
    line-height: 1;
    margin-bottom: 10px;
    color: #999;
}


/*新手教程*/

.banner img {
    width: 100%;
}

.Newhand {
    padding: 0 12px;
}

.Newhand .itembox {
    margin-bottom: 10px;
}

.Newhand .Btns .btn {
    width: 23%;
    background: #fff;
    font-size: 14px;
    margin: 0 1% 10px;
    text-align: center;
    padding: 10px 0;
    color: #666;
}

.Newhand .Btns .btn.cur {
    background: #5c91f0;
    color: #fff;
}


/**新增样式，评价要求**/

.evaluate_box .evaluateTit {
    color: #333;
    height: 25px;
    line-height: 25px;
}

.evaluate_box .keybox {
    height: 60px;
    border: 1px solid #5c91f0;
    padding: 5px;
    color: #666;
}

.evaluate_box .link_btn {
    float: right;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #4581ec;
    border: 1px solid #4581ec;
    border-radius: 2px;
    padding: 0 10px;
    margin: 10px 0;
}


/*店铺核对*/

.Examine .inputbox_group {
    margin: 10px -3.5px;
}

.Examine .input {
    display: inline-block;
    width: 40px;
    padding: 0;
    text-align: center;
    margin: 0 3.5px 10px;
    border: none;
    background: #e6e6e6;
}

.Examine .input.dis {
    color: #999;
}

.taskexamples_box img {
    width: 100%;
    display: none;
}


/*任务备注说明*/

.attachClaimImg {
    overflow: hidden;
}

.attachClaimImg .img_div {
    float: left;
    width: 33.3%;
    padding-right: 10px;
    box-sizing: border-box;
}

.attachClaimImg .img_div img {
    width: 100%
}
