.header {
    background: #ffffff;
    font-size: 138.5px;
}

.header img {
    width: 138.5px;
    margin-left: 62.5px;
    margin-top: 25px;
}

.rate {
    position: relative;
    padding: 62.5px 100px;
    background: #00aaef;
}

.rate p {
    color: #ffffff;
    font-size: 075px;
}

.rate img {
    position: absolute;
    top: 65px;
    right: 100px;
    width: 120px;
}

.task_list {
    background: #ffffff;
}

.task_list li {
    position: relative;
    padding: 62.5px 0;
    border-bottom: 1px solid #dddddd;
}

.task_list li:last-child {
    border-bottom: 0px;
}

.task_list li .content {
    padding: 0 100px;
    margin-bottom: 50px;
}

.task_icon {
    height: 250px;
    margin-right: 50px;
}

.task_name {
    color: #545454;
}

.task_rate {
    color: #b2b2b2;
    font-size: 075px;
}

.switch {
    position: absolute;
    top: 075px;
    right: 67.5px;
    height: 200px;
}

.task_type {
    background: #e8e8e8;
    text-indent: 100px;
    padding: 25px 0;
    color: #787878;
}

.joint_task, .stop_task {
    position: fixed;;
    bottom: 0;
    left: 0;
    width: 100%;
}

.stop_task {
    right: 62.5px;
}

.joint_task img {
    width: 500px;
}

.stop_task img {
    width: 400px;
}

.nminput {
    background-color: white;
    border: 0px;
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    text-indent: 100px;
    padding: 25px 0;
    color: #787878;
    text-align: left;
}

.receiving {
    position: relative;
    padding-top: 62.5px;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
}

#receiving {
    padding: 62.5px 0;
}

.receiving .content {
    padding: 0 100px;
    margin-bottom: 50px;
}


/*接单遮罩*/

.jiedan-over {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    transition-duration: .4s;
}


/*来任务遮罩层*/

.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    transition-duration: .4s;
}

.visible {
    visibility: visible;
    opacity: 0.8;
}

.new_task {
    position: absolute;
    top: -40%;
    left: 10%;
    z-index: 10800;
    display: none;
    width: 80%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    padding: 100px;
}

.icon {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 62.5px;
    height: 400px;
    line-height: 400px;
}

.icon p {
    height: 400px;
    line-height: 400px;
}

.icon img {
    width: 300px;
    margin-left: 25%;
    margin-right: 25px;
}

.task_describ {
    padding: 100px 0;
}

.task_describ li {
    padding: 0 62.5px 25px 62.5px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 87.5px;
}

.task_describ li .main_container {
    color: #00aaef;
}

.task_ok {
    text-align: center;
    background: #00aaef;
    color: #fff;
    height: 250px;
    line-height: 250px;
    border-radius: 50px;
}


/*选择任务类型*/

.taskTypeBox {
    margin-bottom: 50px;
    padding:20px;
    background: #fff;
}

.taskTypeBox .titleHd {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}

.taskTypeBox .Btns {
    font-size: 0;
    text-align: center;
    width: 100%;
}

.taskTypeBox .Btns .btn {
    display: inline-block;
    min-width: 26%;
    margin: 5px 3%;
    font-size: 16px;
    line-height: 1;
    border-radius: 100px;
    padding: 5px;
    background: #efefef;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.taskTypeBox .Btns .btn.cur {
    background: #5c91f0;
    color: #fff;
    border-color: #5c91f0;
}


/*未绑定账号*/

.account_list {
    padding: 0 62.5px;
    background: #ffffff;
}

.account_list li {
    padding: 62.5px 0;
    border-bottom: 1px solid #dddddd;
}

.account_icon {
    height: 25px;
    margin-right: 62.5px;
}

.account_name {
    height: 25px;
    line-height: 25px
}


/*设置接单账号*/

.setting {
    position: absolute;
    background: #4c4c4c;
    top: 50%;
    left: 35%;
    padding: 62.5px;
    border-radius: 5px;
    color: #ffffff;
}


/*未绑定账号弹出层*/

.bind_account {
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 10800;
    display: none;
    width: 70%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.bind_account p {
    font-size: 100px;
    color: #000000;
    padding: 100px;
}

.bind_account ul {
    border-top: 1px solid #dddddd;
}

.bind_account li {
    width: 49.5%;
    float: left;
}

.bind_account li:first-child {
    border-right: 1px solid #dddddd;
}

.bind_account li a {
    display: block;
    text-align: center;
    height: 200px;
    line-height: 200px;
    color: #00aaef;
}

.modal-in, .modal-out {
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
}

.disblock {
    display: block;
}

.acivebg {
    background: #b3dff1;
}

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.rotate_circle {
    -webkit-animation: circle 1s infinite linear;
    /*匀速 循环*/
}
